ADMIN_SECRET=cambia-este-codigo-del-panel

GROQ_API_KEY=gsk_tu_clave
GROQ_MODEL=llama-3.3-70b-versatile

DISCORD_BOT_TOKEN=tu_token_del_bot
DISCORD_PUBLIC_KEY=tu_public_key
DISCORD_APPLICATION_ID=tu_application_id
DISCORD_GUILD_ID=id_del_servidor

NEXT_PUBLIC_SUPABASE_URL=https://goxcnmydkitmtdqylfcg.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_b8rbAQPitybzkJmyA5iF5w_55PZWLJn

SUPABASE_URL=https://goxcnmydkitmtdqylfcg.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_b8rbAQPitybzkJmyA5iF5w_55PZWLJn
SUPABASE_SECRET_KEY=tu_sb_secret_key_del_servidor
SUPABASE_SERVICE_ROLE_KEY=opcional_clave_legacy_service_role

CRON_SECRET=cambia-este-secreto-del-cron
DEFAULT_TIMEZONE=America/Monterrey
